.slide{
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-decoration: none;
  color: black;
  gap: 30px;
  text-align: start;
}

.details{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .slide {
      display: grid;
      grid-template-columns: 1fr;
    }
}